<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tutormanagerapp">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentPopupActivityAppointment"></activity>
        <activity android:name=".TutorMessageActivity" />
        <activity android:name=".StudentMessageActivity" />
        <activity android:name=".TutorForgotPasswordActivity" />
        <activity android:name=".TutorHomeActivity" />
        <activity android:name=".TutorRegisterActivity" />
        <activity android:name=".TutorLoginActivity" />
        <activity android:name=".StudentForgotPasswordActivity" />
        <activity android:name=".StudentHomeActivity" />
        <activity android:name=".StudentRegisterActivity" />
        <activity android:name=".StudentLoginActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>